{% extends 'global/navbar.html' %}

{% block title %}About{% endblock title %}

{% block body %}
<div class="container" style="padding: 1rem 25rem;">
  <h2>What the interface is for?</h2>
  <h3>
    The SQL-Tools web interface is designed for developers who want to increase
    the simplicity of the use of library and its functions. This is a web
    interface that provides all the tools SQL Tools that you need for your
    project in a simple, secure & graphical way.
  </h3>
  <br />
  <h2>What can't I do this with tool?</h2>
  <h3>
    Simply, nothing. The interface is packed with all the robust tools for every
    kind of work from simple data exploration to data science. It includes all
    the tools that are required by a developer to perform operations on data
    efficiently.
  </h3>
  <br />
  <h2>How it works?</h2>
  <h3>
    It is a visual representation of all of the database operations that you may
    come across. It uses the SQL-Tools API behind the scenes to perform
    operations that you can also perform on your own by using the functions.
  </h3>
  <br />
  <h2>Hey, I need help!</h2>
  <h3>
    If you face any problems or want to refer something, just use the
    <a href="https://yogesh-aggarwal.gitbook.io/sql-tools/" target="_blank">documentation</a>.
  </h3>
</div>
{% endblock body %}
