@import url("https://fonts.googleapis.com/css?family=Rubik&display=swap");
.btn, .btn-blue, .btn-grey, .btn-green, .btn-teal, .btn-red, .btn-yellow, .btn-purple, .btn-sky, .btn-black, .pagination .container .previous, .pagination .container-flex .previous, .pagination .container-flex-center .previous, .pagination .container .previous-disabled, .pagination .container-flex .previous-disabled, .pagination .container-flex-center .previous-disabled,
.pagination .container .next-disabled,
.pagination .container-flex .next-disabled,
.pagination .container-flex-center .next-disabled,
.pagination .container .next,
.pagination .container-flex .next,
.pagination .container-flex-center .next {
  border: none;
  background: #0d7be2;
  color: #fff;
  padding: 10px 12px;
  outline: none;
  border-radius: 4px;
  margin: 2px 0;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-box-shadow: 2px 2px 5px #ccc;
          box-shadow: 2px 2px 5px #ccc;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn:hover, .btn-blue:hover, .btn-grey:hover, .btn-green:hover, .btn-teal:hover, .btn-red:hover, .btn-yellow:hover, .btn-purple:hover, .btn-sky:hover, .btn-black:hover, .pagination .container .previous:hover, .pagination .container-flex .previous:hover, .pagination .container-flex-center .previous:hover, .pagination .container .previous-disabled:hover, .pagination .container-flex .previous-disabled:hover, .pagination .container-flex-center .previous-disabled:hover,
.pagination .container .next-disabled:hover,
.pagination .container-flex .next-disabled:hover,
.pagination .container-flex-center .next-disabled:hover,
.pagination .container .next:hover,
.pagination .container-flex .next:hover,
.pagination .container-flex-center .next:hover, .btn:focus, .btn-blue:focus, .btn-grey:focus, .btn-green:focus, .btn-teal:focus, .btn-red:focus, .btn-yellow:focus, .btn-purple:focus, .btn-sky:focus, .btn-black:focus, .pagination .container .previous:focus, .pagination .container-flex .previous:focus, .pagination .container-flex-center .previous:focus, .pagination .container .previous-disabled:focus, .pagination .container-flex .previous-disabled:focus, .pagination .container-flex-center .previous-disabled:focus,
.pagination .container .next-disabled:focus,
.pagination .container-flex .next-disabled:focus,
.pagination .container-flex-center .next-disabled:focus,
.pagination .container .next:focus,
.pagination .container-flex .next:focus,
.pagination .container-flex-center .next:focus, .btn:active, .btn-blue:active, .btn-grey:active, .btn-green:active, .btn-teal:active, .btn-red:active, .btn-yellow:active, .btn-purple:active, .btn-sky:active, .btn-black:active, .pagination .container .previous:active, .pagination .container-flex .previous:active, .pagination .container-flex-center .previous:active, .pagination .container .previous-disabled:active, .pagination .container-flex .previous-disabled:active, .pagination .container-flex-center .previous-disabled:active,
.pagination .container .next-disabled:active,
.pagination .container-flex .next-disabled:active,
.pagination .container-flex-center .next-disabled:active,
.pagination .container .next:active,
.pagination .container-flex .next:active,
.pagination .container-flex-center .next:active {
  background: #096ecc;
}

.btn-grey {
  background: #727272;
}

.btn-grey:hover, .btn-grey:focus, .btn-grey:active {
  background: #555555;
}

.btn-green {
  background: #139272;
}

.btn-green:hover, .btn-green:focus, .btn-green:active {
  background: #117c61;
}

.btn-teal {
  background: #0097a7;
}

.btn-teal:hover, .btn-teal:focus, .btn-teal:active {
  background: #008492;
}

.btn-red {
  background: #f44336;
}

.btn-red:hover, .btn-red:focus, .btn-red:active {
  background: #e63529;
}

.btn-yellow {
  background: #ecb439;
}

.btn-yellow:hover, .btn-yellow:focus, .btn-yellow:active {
  background: #cfa01c;
}

.btn-purple {
  background: #8742e2;
}

.btn-purple:hover, .btn-purple:focus, .btn-purple:active {
  background: #773cc5;
}

.btn-sky {
  background: #65a2db;
}

.btn-sky:hover, .btn-sky:focus, .btn-sky:active {
  background: #4a89c5;
}

.btn-black, .pagination .container .previous, .pagination .container-flex .previous, .pagination .container-flex-center .previous, .pagination .container .previous-disabled, .pagination .container-flex .previous-disabled, .pagination .container-flex-center .previous-disabled,
.pagination .container .next-disabled,
.pagination .container-flex .next-disabled,
.pagination .container-flex-center .next-disabled,
.pagination .container .next,
.pagination .container-flex .next,
.pagination .container-flex-center .next {
  background: #3b3b3b;
}

.btn-black:hover, .pagination .container .previous:hover, .pagination .container-flex .previous:hover, .pagination .container-flex-center .previous:hover, .pagination .container .previous-disabled:hover, .pagination .container-flex .previous-disabled:hover, .pagination .container-flex-center .previous-disabled:hover,
.pagination .container .next-disabled:hover,
.pagination .container-flex .next-disabled:hover,
.pagination .container-flex-center .next-disabled:hover,
.pagination .container .next:hover,
.pagination .container-flex .next:hover,
.pagination .container-flex-center .next:hover, .btn-black:focus, .pagination .container .previous:focus, .pagination .container-flex .previous:focus, .pagination .container-flex-center .previous:focus, .pagination .container .previous-disabled:focus, .pagination .container-flex .previous-disabled:focus, .pagination .container-flex-center .previous-disabled:focus,
.pagination .container .next-disabled:focus,
.pagination .container-flex .next-disabled:focus,
.pagination .container-flex-center .next-disabled:focus,
.pagination .container .next:focus,
.pagination .container-flex .next:focus,
.pagination .container-flex-center .next:focus, .btn-black:active, .pagination .container .previous:active, .pagination .container-flex .previous:active, .pagination .container-flex-center .previous:active, .pagination .container .previous-disabled:active, .pagination .container-flex .previous-disabled:active, .pagination .container-flex-center .previous-disabled:active,
.pagination .container .next-disabled:active,
.pagination .container-flex .next-disabled:active,
.pagination .container-flex-center .next-disabled:active,
.pagination .container .next:active,
.pagination .container-flex .next:active,
.pagination .container-flex-center .next:active {
  background: #1d1d1d;
}

.mx-1 {
  margin-left: 0.4rem !important;
  margin-right: 0.4rem !important;
}

.mx-2 {
  margin-left: 0.5rem !important;
  margin-right: 0.5rem !important;
}

.mx-3 {
  margin-left: 0.6rem !important;
  margin-right: 0.6rem !important;
}

.mx-4 {
  margin-left: 0.7rem !important;
  margin-right: 0.7rem !important;
}

.mx-5 {
  margin-left: 0.8rem !important;
  margin-right: 0.8rem !important;
}

.mx-6 {
  margin-left: 0.9rem !important;
  margin-right: 0.9rem !important;
}

.mx-7 {
  margin-left: 1rem !important;
  margin-right: 1rem !important;
}

.mx-8 {
  margin-left: 1.1rem !important;
  margin-right: 1.1rem !important;
}

.mx-9 {
  margin-left: 1.2rem !important;
  margin-right: 1.2rem !important;
}

.mx-10 {
  margin-left: 1.3rem !important;
  margin-right: 1.3rem !important;
}

.my-1 {
  margin-top: 0.4rem !important;
  margin-bottom: 0.4rem !important;
}

.my-2 {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}

.my-3 {
  margin-top: 0.6rem !important;
  margin-bottom: 0.6rem !important;
}

.my-4 {
  margin-top: 0.7rem !important;
  margin-bottom: 0.7rem !important;
}

.my-5 {
  margin-top: 0.8rem !important;
  margin-bottom: 0.8rem !important;
}

.my-6 {
  margin-top: 0.9rem !important;
  margin-bottom: 0.9rem !important;
}

.my-7 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.my-8 {
  margin-top: 1.1rem !important;
  margin-bottom: 1.1rem !important;
}

.my-9 {
  margin-top: 1.2rem !important;
  margin-bottom: 1.2rem !important;
}

.my-10 {
  margin-top: 1.3rem !important;
  margin-bottom: 1.3rem !important;
}

.px-1 {
  padding-left: 0.4rem !important;
  padding-right: 0.4rem !important;
}

.px-2 {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}

.px-3 {
  padding-left: 0.6rem !important;
  padding-right: 0.6rem !important;
}

.px-4 {
  padding-left: 0.7rem !important;
  padding-right: 0.7rem !important;
}

.px-5 {
  padding-left: 0.8rem !important;
  padding-right: 0.8rem !important;
}

.px-6 {
  padding-left: 0.9rem !important;
  padding-right: 0.9rem !important;
}

.px-7 {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.px-8 {
  padding-left: 1.1rem !important;
  padding-right: 1.1rem !important;
}

.px-9 {
  padding-left: 1.2rem !important;
  padding-right: 1.2rem !important;
}

.px-10 {
  padding-left: 1.3rem !important;
  padding-right: 1.3rem !important;
}

.py-1 {
  padding-top: 0.4rem !important;
  padding-bottom: 0.4rem !important;
}

.py-2 {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.py-3 {
  padding-top: 0.6rem !important;
  padding-bottom: 0.6rem !important;
}

.py-4 {
  padding-top: 0.7rem !important;
  padding-bottom: 0.7rem !important;
}

.py-5 {
  padding-top: 0.8rem !important;
  padding-bottom: 0.8rem !important;
}

.py-6 {
  padding-top: 0.9rem !important;
  padding-bottom: 0.9rem !important;
}

.py-7 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.py-8 {
  padding-top: 1.1rem !important;
  padding-bottom: 1.1rem !important;
}

.py-9 {
  padding-top: 1.2rem !important;
  padding-bottom: 1.2rem !important;
}

.py-10 {
  padding-top: 1.3rem !important;
  padding-bottom: 1.3rem !important;
}

.mt-1 {
  margin-top: 0.4rem !important;
}

.mt-2 {
  margin-top: 0.5rem !important;
}

.mt-3 {
  margin-top: 0.6rem !important;
}

.mt-4 {
  margin-top: 0.7rem !important;
}

.mt-5 {
  margin-top: 0.8rem !important;
}

.mt-6 {
  margin-top: 0.9rem !important;
}

.mt-7 {
  margin-top: 1rem !important;
}

.mt-8 {
  margin-top: 1.1rem !important;
}

.mt-9 {
  margin-top: 1.2rem !important;
}

.mt-10 {
  margin-top: 1.3rem !important;
}

.mr-1 {
  margin-right: 0.4rem !important;
}

.mr-2 {
  margin-right: 0.5rem !important;
}

.mr-3 {
  margin-right: 0.6rem !important;
}

.mr-4 {
  margin-right: 0.7rem !important;
}

.mr-5 {
  margin-right: 0.8rem !important;
}

.mr-6 {
  margin-right: 0.9rem !important;
}

.mr-7 {
  margin-right: 1rem !important;
}

.mr-8 {
  margin-right: 1.1rem !important;
}

.mr-9 {
  margin-right: 1.2rem !important;
}

.mr-10 {
  margin-right: 1.3rem !important;
}

.mb-1 {
  margin-bottom: 0.4rem !important;
}

.mb-2 {
  margin-bottom: 0.5rem !important;
}

.mb-3 {
  margin-bottom: 0.6rem !important;
}

.mb-4 {
  margin-bottom: 0.7rem !important;
}

.mb-5 {
  margin-bottom: 0.8rem !important;
}

.mb-6 {
  margin-bottom: 0.9rem !important;
}

.mb-7 {
  margin-bottom: 1rem !important;
}

.mb-8 {
  margin-bottom: 1.1rem !important;
}

.mb-9 {
  margin-bottom: 1.2rem !important;
}

.mb-10 {
  margin-bottom: 1.3rem !important;
}

.ml-1 {
  margin-left: 0.4rem !important;
}

.ml-2 {
  margin-left: 0.5rem !important;
}

.ml-3 {
  margin-left: 0.6rem !important;
}

.ml-4 {
  margin-left: 0.7rem !important;
}

.ml-5 {
  margin-left: 0.8rem !important;
}

.ml-6 {
  margin-left: 0.9rem !important;
}

.ml-7 {
  margin-left: 1rem !important;
}

.ml-8 {
  margin-left: 1.1rem !important;
}

.ml-9 {
  margin-left: 1.2rem !important;
}

.ml-10 {
  margin-left: 1.3rem !important;
}

.pt-1 {
  padding-top: 0.4rem !important;
}

.pt-2 {
  padding-top: 0.5rem !important;
}

.pt-3 {
  padding-top: 0.6rem !important;
}

.pt-4 {
  padding-top: 0.7rem !important;
}

.pt-5 {
  padding-top: 0.8rem !important;
}

.pt-6 {
  padding-top: 0.9rem !important;
}

.pt-7 {
  padding-top: 1rem !important;
}

.pt-8 {
  padding-top: 1.1rem !important;
}

.pt-9 {
  padding-top: 1.2rem !important;
}

.pt-10 {
  padding-top: 1.3rem !important;
}

.pr-1 {
  padding-right: 0.4rem !important;
}

.pr-2 {
  padding-right: 0.5rem !important;
}

.pr-3 {
  padding-right: 0.6rem !important;
}

.pr-4 {
  padding-right: 0.7rem !important;
}

.pr-5 {
  padding-right: 0.8rem !important;
}

.pr-6 {
  padding-right: 0.9rem !important;
}

.pr-7 {
  padding-right: 1rem !important;
}

.pr-8 {
  padding-right: 1.1rem !important;
}

.pr-9 {
  padding-right: 1.2rem !important;
}

.pr-10 {
  padding-right: 1.3rem !important;
}

.pb-1 {
  padding-bottom: 0.4rem !important;
}

.pb-2 {
  padding-bottom: 0.5rem !important;
}

.pb-3 {
  padding-bottom: 0.6rem !important;
}

.pb-4 {
  padding-bottom: 0.7rem !important;
}

.pb-5 {
  padding-bottom: 0.8rem !important;
}

.pb-6 {
  padding-bottom: 0.9rem !important;
}

.pb-7 {
  padding-bottom: 1rem !important;
}

.pb-8 {
  padding-bottom: 1.1rem !important;
}

.pb-9 {
  padding-bottom: 1.2rem !important;
}

.pb-10 {
  padding-bottom: 1.3rem !important;
}

.pl-1 {
  padding-left: 0.4rem !important;
}

.pl-2 {
  padding-left: 0.5rem !important;
}

.pl-3 {
  padding-left: 0.6rem !important;
}

.pl-4 {
  padding-left: 0.7rem !important;
}

.pl-5 {
  padding-left: 0.8rem !important;
}

.pl-6 {
  padding-left: 0.9rem !important;
}

.pl-7 {
  padding-left: 1rem !important;
}

.pl-8 {
  padding-left: 1.1rem !important;
}

.pl-9 {
  padding-left: 1.2rem !important;
}

.pl-10 {
  padding-left: 1.3rem !important;
}

/* JUMBOTRON */
.jumbotron {
  -webkit-box-shadow: 0 3px 10px #ccc;
          box-shadow: 0 3px 10px #ccc;
  border-radius: 10px;
  padding: 2rem 3rem;
}

.jumbotron .title {
  font-size: 2rem;
  font-weight: 600;
}

.jumbotron .desc {
  margin-top: 10px;
  margin-bottom: 1rem;
}

.jumbotron .body, .jumbotron .body-border {
  font-size: 1.2rem;
}

.jumbotron .body-border {
  border-top: 1px solid #c2c2c2;
}

/* NAVBAR */
.navbar, .navbar-sticky {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #333;
  position: relative;
  z-index: 10000000;
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;
}

.navbar .left, .navbar-sticky .left {
  position: absolute;
  top: 25%;
  left: 1rem;
  height: 100%;
  color: #fff;
}

.navbar .left .logo, .navbar-sticky .left .logo {
  height: 50%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.navbar .menu, .navbar-sticky .menu, .navbar .menu-center, .navbar-sticky .menu-center, .navbar .menu-end, .navbar-sticky .menu-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.navbar .menu .item, .navbar-sticky .menu .item, .navbar .menu-center .item, .navbar-sticky .menu-center .item, .navbar .menu-end .item, .navbar-sticky .menu-end .item {
  margin: 2px 5px;
  color: #efefef;
  margin: 0 15px;
  text-decoration: none;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.navbar .menu .item:hover, .navbar-sticky .menu .item:hover, .navbar .menu-center .item:hover, .navbar-sticky .menu-center .item:hover, .navbar .menu-end .item:hover, .navbar-sticky .menu-end .item:hover {
  color: #ccc;
}

.navbar .menu-center, .navbar-sticky .menu-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar .menu-end, .navbar-sticky .menu-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.navbar .right, .navbar-sticky .right {
  position: absolute;
  height: 100%;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: 1rem;
  color: #fff;
}

.navbar .right img, .navbar-sticky .right img {
  height: 50%;
}

.navbar-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
}

/* SEPERATOR */
.seperator {
  margin: 1rem 0;
  border-top: 1px solid #ccc;
}

.flex-x, .flex-x-end, .flex-x-center, .flex-x-start {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: start !important;
      -ms-flex-pack: start !important;
          justify-content: start !important;
  width: 100% !important;
}

.flex-y, .flex-y-end, .flex-y-center, .container-flex, .container-flex-center, .flex-y-start {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
  -webkit-box-pack: start !important;
      -ms-flex-pack: start !important;
          justify-content: start !important;
  width: 100% !important;
}

.flex-x-end {
  -webkit-box-pack: end !important;
      -ms-flex-pack: end !important;
          justify-content: flex-end !important;
}

.flex-y-end {
  -webkit-box-pack: end !important;
      -ms-flex-pack: end !important;
          justify-content: flex-end !important;
}

.flex-x-center {
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
}

.flex-y-center {
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
}

.container, .container-flex, .container-flex-center {
  margin: 1% 2%;
}

.container-flex-center {
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

.ns {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.usn, .udsn {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.udn, .udsn {
  -webkit-user-drag: none;
}

.nm, .nmp {
  margin: 0 !important;
}

.np, .nmp {
  padding: 0 !important;
}

.btn, .btn-blue, .btn-grey, .btn-green, .btn-teal, .btn-red, .btn-yellow, .btn-purple, .btn-sky, .btn-black, .pagination .container .previous, .pagination .container-flex .previous, .pagination .container-flex-center .previous, .pagination .container .previous-disabled, .pagination .container-flex .previous-disabled, .pagination .container-flex-center .previous-disabled,
.pagination .container .next-disabled,
.pagination .container-flex .next-disabled,
.pagination .container-flex-center .next-disabled,
.pagination .container .next,
.pagination .container-flex .next,
.pagination .container-flex-center .next {
  border: none;
  background: #0d7be2;
  color: #fff;
  padding: 10px 12px;
  outline: none;
  border-radius: 4px;
  margin: 2px 0;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-box-shadow: 2px 2px 5px #ccc;
          box-shadow: 2px 2px 5px #ccc;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn:hover, .btn-blue:hover, .btn-grey:hover, .btn-green:hover, .btn-teal:hover, .btn-red:hover, .btn-yellow:hover, .btn-purple:hover, .btn-sky:hover, .btn-black:hover, .pagination .container .previous:hover, .pagination .container-flex .previous:hover, .pagination .container-flex-center .previous:hover, .pagination .container .previous-disabled:hover, .pagination .container-flex .previous-disabled:hover, .pagination .container-flex-center .previous-disabled:hover,
.pagination .container .next-disabled:hover,
.pagination .container-flex .next-disabled:hover,
.pagination .container-flex-center .next-disabled:hover,
.pagination .container .next:hover,
.pagination .container-flex .next:hover,
.pagination .container-flex-center .next:hover, .btn:focus, .btn-blue:focus, .btn-grey:focus, .btn-green:focus, .btn-teal:focus, .btn-red:focus, .btn-yellow:focus, .btn-purple:focus, .btn-sky:focus, .btn-black:focus, .pagination .container .previous:focus, .pagination .container-flex .previous:focus, .pagination .container-flex-center .previous:focus, .pagination .container .previous-disabled:focus, .pagination .container-flex .previous-disabled:focus, .pagination .container-flex-center .previous-disabled:focus,
.pagination .container .next-disabled:focus,
.pagination .container-flex .next-disabled:focus,
.pagination .container-flex-center .next-disabled:focus,
.pagination .container .next:focus,
.pagination .container-flex .next:focus,
.pagination .container-flex-center .next:focus, .btn:active, .btn-blue:active, .btn-grey:active, .btn-green:active, .btn-teal:active, .btn-red:active, .btn-yellow:active, .btn-purple:active, .btn-sky:active, .btn-black:active, .pagination .container .previous:active, .pagination .container-flex .previous:active, .pagination .container-flex-center .previous:active, .pagination .container .previous-disabled:active, .pagination .container-flex .previous-disabled:active, .pagination .container-flex-center .previous-disabled:active,
.pagination .container .next-disabled:active,
.pagination .container-flex .next-disabled:active,
.pagination .container-flex-center .next-disabled:active,
.pagination .container .next:active,
.pagination .container-flex .next:active,
.pagination .container-flex-center .next:active {
  background: #096ecc;
}

.btn-grey {
  background: #727272;
}

.btn-grey:hover, .btn-grey:focus, .btn-grey:active {
  background: #555555;
}

.btn-green {
  background: #139272;
}

.btn-green:hover, .btn-green:focus, .btn-green:active {
  background: #117c61;
}

.btn-teal {
  background: #0097a7;
}

.btn-teal:hover, .btn-teal:focus, .btn-teal:active {
  background: #008492;
}

.btn-red {
  background: #f44336;
}

.btn-red:hover, .btn-red:focus, .btn-red:active {
  background: #e63529;
}

.btn-yellow {
  background: #ecb439;
}

.btn-yellow:hover, .btn-yellow:focus, .btn-yellow:active {
  background: #cfa01c;
}

.btn-purple {
  background: #8742e2;
}

.btn-purple:hover, .btn-purple:focus, .btn-purple:active {
  background: #773cc5;
}

.btn-sky {
  background: #65a2db;
}

.btn-sky:hover, .btn-sky:focus, .btn-sky:active {
  background: #4a89c5;
}

.btn-black, .pagination .container .previous, .pagination .container-flex .previous, .pagination .container-flex-center .previous, .pagination .container .previous-disabled, .pagination .container-flex .previous-disabled, .pagination .container-flex-center .previous-disabled,
.pagination .container .next-disabled,
.pagination .container-flex .next-disabled,
.pagination .container-flex-center .next-disabled,
.pagination .container .next,
.pagination .container-flex .next,
.pagination .container-flex-center .next {
  background: #3b3b3b;
}

.btn-black:hover, .pagination .container .previous:hover, .pagination .container-flex .previous:hover, .pagination .container-flex-center .previous:hover, .pagination .container .previous-disabled:hover, .pagination .container-flex .previous-disabled:hover, .pagination .container-flex-center .previous-disabled:hover,
.pagination .container .next-disabled:hover,
.pagination .container-flex .next-disabled:hover,
.pagination .container-flex-center .next-disabled:hover,
.pagination .container .next:hover,
.pagination .container-flex .next:hover,
.pagination .container-flex-center .next:hover, .btn-black:focus, .pagination .container .previous:focus, .pagination .container-flex .previous:focus, .pagination .container-flex-center .previous:focus, .pagination .container .previous-disabled:focus, .pagination .container-flex .previous-disabled:focus, .pagination .container-flex-center .previous-disabled:focus,
.pagination .container .next-disabled:focus,
.pagination .container-flex .next-disabled:focus,
.pagination .container-flex-center .next-disabled:focus,
.pagination .container .next:focus,
.pagination .container-flex .next:focus,
.pagination .container-flex-center .next:focus, .btn-black:active, .pagination .container .previous:active, .pagination .container-flex .previous:active, .pagination .container-flex-center .previous:active, .pagination .container .previous-disabled:active, .pagination .container-flex .previous-disabled:active, .pagination .container-flex-center .previous-disabled:active,
.pagination .container .next-disabled:active,
.pagination .container-flex .next-disabled:active,
.pagination .container-flex-center .next-disabled:active,
.pagination .container .next:active,
.pagination .container-flex .next:active,
.pagination .container-flex-center .next:active {
  background: #1d1d1d;
}

.card,
.card-y {
  -webkit-box-shadow: 2px 4px 8px #ccc;
          box-shadow: 2px 4px 8px #ccc;
  width: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 10px;
  margin: 0 1rem;
  padding-bottom: 3px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.card .top,
.card-y .top {
  width: 100%;
  border-radius: 10px;
  border-radius: 10px 10px 0 0;
}

.card .top .thumb,
.card-y .top .thumb {
  width: 100%;
  border-radius: inherit;
}

.card .body, .card .jumbotron .body-border, .jumbotron .card .body-border,
.card-y .body,
.card-y .jumbotron .body-border,
.jumbotron .card-y .body-border {
  padding: 10px 1rem;
}

.card .body .title, .card .jumbotron .body-border .title, .jumbotron .card .body-border .title,
.card-y .body .title,
.card-y .jumbotron .body-border .title,
.jumbotron .card-y .body-border .title {
  font-size: 1.2rem;
  font-weight: 600;
}

.card .body .content .text, .card .jumbotron .body-border .content .text, .jumbotron .card .body-border .content .text,
.card-y .body .content .text,
.card-y .jumbotron .body-border .content .text,
.jumbotron .card-y .body-border .content .text {
  margin-top: 10px;
}

.card-x {
  -webkit-box-shadow: 2px 4px 8px #ccc;
          box-shadow: 2px 4px 8px #ccc;
  width: 50rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  border-radius: 10px;
}

.card-x .top {
  height: 100%;
  border-radius: 10px 0 0 10px;
}

.card-x .top .thumb {
  border-radius: inherit;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-x .body, .card-x .jumbotron .body-border, .jumbotron .card-x .body-border {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 1rem;
  width: 160%;
}

.card-x .body .title, .card-x .jumbotron .body-border .title, .jumbotron .card-x .body-border .title {
  font-size: 1.2rem;
  font-weight: 600;
}

.card-x .body .content .text, .card-x .jumbotron .body-border .content .text, .jumbotron .card-x .body-border .content .text {
  margin-top: 10px;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  font-weight: 600;
}

.pagination .container, .pagination .container-flex, .pagination .container-flex-center {
  all: unset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pagination .container .previous, .pagination .container-flex .previous, .pagination .container-flex-center .previous, .pagination .container .previous-disabled, .pagination .container-flex .previous-disabled, .pagination .container-flex-center .previous-disabled,
.pagination .container .next-disabled,
.pagination .container-flex .next-disabled,
.pagination .container-flex-center .next-disabled,
.pagination .container .next,
.pagination .container-flex .next,
.pagination .container-flex-center .next {
  border-radius: 100%;
  padding: 10px 15px;
  margin: 0 4px;
  background: #fff;
  color: black;
}

.pagination .container .previous:hover, .pagination .container-flex .previous:hover, .pagination .container-flex-center .previous:hover, .pagination .container .previous-disabled:hover, .pagination .container-flex .previous-disabled:hover, .pagination .container-flex-center .previous-disabled:hover,
.pagination .container .next-disabled:hover,
.pagination .container-flex .next-disabled:hover,
.pagination .container-flex-center .next-disabled:hover, .pagination .container .previous:focus, .pagination .container-flex .previous:focus, .pagination .container-flex-center .previous:focus, .pagination .container .previous-disabled:focus, .pagination .container-flex .previous-disabled:focus, .pagination .container-flex-center .previous-disabled:focus,
.pagination .container .next-disabled:focus,
.pagination .container-flex .next-disabled:focus,
.pagination .container-flex-center .next-disabled:focus, .pagination .container .previous:active, .pagination .container-flex .previous:active, .pagination .container-flex-center .previous:active, .pagination .container .previous-disabled:active, .pagination .container-flex .previous-disabled:active, .pagination .container-flex-center .previous-disabled:active,
.pagination .container .next-disabled:active,
.pagination .container-flex .next-disabled:active,
.pagination .container-flex-center .next-disabled:active,
.pagination .container .next:hover,
.pagination .container-flex .next:hover,
.pagination .container-flex-center .next:hover,
.pagination .container .next:focus,
.pagination .container-flex .next:focus,
.pagination .container-flex-center .next:focus,
.pagination .container .next:active,
.pagination .container-flex .next:active,
.pagination .container-flex-center .next:active {
  background: #fff;
  color: black;
  -webkit-box-shadow: 2px 2px 6px #ccc;
          box-shadow: 2px 2px 6px #ccc;
}

.pagination .container .previous::before, .pagination .container-flex .previous::before, .pagination .container-flex-center .previous::before, .pagination .container .previous-disabled::before, .pagination .container-flex .previous-disabled::before, .pagination .container-flex-center .previous-disabled::before,
.pagination .container .next-disabled::before,
.pagination .container-flex .next-disabled::before,
.pagination .container-flex-center .next-disabled::before {
  content: "<";
}

.pagination .container .next::before, .pagination .container-flex .next::before, .pagination .container-flex-center .next::before {
  content: ">";
}

.pagination .container .previous-disabled, .pagination .container-flex .previous-disabled, .pagination .container-flex-center .previous-disabled,
.pagination .container .next-disabled,
.pagination .container-flex .next-disabled,
.pagination .container-flex-center .next-disabled {
  background: #eee;
}

.pagination .container .previous-disabled:hover, .pagination .container-flex .previous-disabled:hover, .pagination .container-flex-center .previous-disabled:hover,
.pagination .container .next-disabled:hover,
.pagination .container-flex .next-disabled:hover,
.pagination .container-flex-center .next-disabled:hover {
  background: #eee;
}

.pagination .container .pages, .pagination .container-flex .pages, .pagination .container-flex-center .pages {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 1px 2px 6px #ccc;
          box-shadow: 1px 2px 6px #ccc;
  border-radius: 25px;
  margin: 0 0.7rem;
  padding: 10px 1rem;
}

.pagination .container .pages .page, .pagination .container-flex .pages .page, .pagination .container-flex-center .pages .page, .pagination .container .pages .page-active, .pagination .container-flex .pages .page-active, .pagination .container-flex-center .pages .page-active, .pagination .container .pages .page-disabled, .pagination .container-flex .pages .page-disabled, .pagination .container-flex-center .pages .page-disabled {
  margin: 0 10px;
  cursor: pointer;
  font-weight: 400;
}

.pagination .container .pages .page-active, .pagination .container-flex .pages .page-active, .pagination .container-flex-center .pages .page-active {
  color: #0d7be2;
  font-weight: 600;
  cursor: default;
}

.pagination .container .pages .page-disabled, .pagination .container-flex .pages .page-disabled, .pagination .container-flex-center .pages .page-disabled {
  color: #8a8a8a;
  cursor: default;
}

.pagination-box .container, .pagination-box .container-flex, .pagination-box .container-flex-center {
  all: unset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 1px 2px 6px #ccc;
          box-shadow: 1px 2px 6px #ccc;
  border-radius: 5px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 7px 0;
}

.pagination-box .container .previous::before, .pagination-box .container-flex .previous::before, .pagination-box .container-flex-center .previous::before, .pagination-box .container .previous-disabled::before, .pagination-box .container-flex .previous-disabled::before, .pagination-box .container-flex-center .previous-disabled::before,
.pagination-box .container .next-disabled::before,
.pagination-box .container-flex .next-disabled::before,
.pagination-box .container-flex-center .next-disabled::before {
  content: "<";
}

.pagination-box .container .next::before, .pagination-box .container-flex .next::before, .pagination-box .container-flex-center .next::before {
  content: ">";
}

.pagination-box .container .previous, .pagination-box .container-flex .previous, .pagination-box .container-flex-center .previous, .pagination-box .container .previous-disabled, .pagination-box .container-flex .previous-disabled, .pagination-box .container-flex-center .previous-disabled,
.pagination-box .container .next-disabled,
.pagination-box .container-flex .next-disabled,
.pagination-box .container-flex-center .next-disabled,
.pagination-box .container .next,
.pagination-box .container-flex .next,
.pagination-box .container-flex-center .next {
  padding: 12px 18px;
  border-radius: 5px;
  margin: 0 20px;
  background: #eee;
  cursor: pointer;
}

.pagination-box .container .previous-disabled, .pagination-box .container-flex .previous-disabled, .pagination-box .container-flex-center .previous-disabled,
.pagination-box .container .next-disabled,
.pagination-box .container-flex .next-disabled,
.pagination-box .container-flex-center .next-disabled {
  background: #d4d4d4;
  cursor: default;
}

.pagination-box .container .pages, .pagination-box .container-flex .pages, .pagination-box .container-flex-center .pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagination-box .container .pages .page, .pagination-box .container-flex .pages .page, .pagination-box .container-flex-center .pages .page, .pagination-box .container .pages .page-disabled, .pagination-box .container-flex .pages .page-disabled, .pagination-box .container-flex-center .pages .page-disabled, .pagination-box .container .pages .page-active, .pagination-box .container-flex .pages .page-active, .pagination-box .container-flex-center .pages .page-active {
  padding: 12px 18px;
  cursor: pointer;
}

.pagination-box .container .pages .page-disabled, .pagination-box .container-flex .pages .page-disabled, .pagination-box .container-flex-center .pages .page-disabled {
  color: #858585;
}

.pagination-box .container .pages .page-active, .pagination-box .container-flex .pages .page-active, .pagination-box .container-flex-center .pages .page-active {
  padding: 12px 18px;
  font-weight: 600;
  border-radius: 5px;
  background: #0d7be2;
  color: #fff;
}

.chip {
  display: inline-block;
  background: #eee;
  position: relative;
  border-radius: 25px;
  padding: 7px 6px;
  margin: 0 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.chip .thumb {
  width: 24px;
  height: 24px;
  top: 6px;
  border-radius: 100%;
  position: absolute;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-user-drag: none;
}

.chip .thumb img {
  border-radius: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-user-drag: none;
}

.chip .text {
  margin-left: 2rem;
  margin-right: 8px;
}

.chip:hover, .chip:active, .chip:focus {
  background: #e2e2e2;
}

.alert, .alert-grey, .alert-green, .alert-teal, .alert-red, .alert-yellow, .alert-purple, .alert-sky, .alert-black, .alert-blue {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem 0;
  padding: 14px 1.3rem;
  border-radius: 5px;
  background: #0d7be240;
  color: #096ecc;
}

.alert-grey {
  background: #72727240;
  color: #555555;
}

.alert-green {
  background: #13927240;
  color: #117c61;
}

.alert-teal {
  background: #0097a740;
  color: #008492;
}

.alert-red {
  background: #f4433640;
  color: #e63529;
}

.alert-yellow {
  background: #ecb43940;
  color: #bb8a00;
}

.alert-purple {
  background: #8742e240;
  color: #773cc5;
}

.alert-sky {
  background: #65a2db40;
  color: #4a89c5;
}

.alert-black {
  background: #3b3b3b40;
  color: #1d1d1d;
}

.badge, .badge-grey, .badge-green, .badge-teal, .badge-red, .badge-yellow, .badge-purple, .badge-sky, .badge-black, .badge-blue {
  display: inline-block;
  -webkit-box-shadow: 0 2px 3px #ccc;
          box-shadow: 0 2px 3px #ccc;
  margin: 0 1px;
  padding: 5px 10px;
  border-radius: 5px;
  background: #0d7be2;
  color: #fff;
}

.badge-grey {
  background: #727272;
}

.badge-green {
  background: #139272;
}

.badge-teal {
  background: #0097a7;
}

.badge-red {
  background: #f44336;
}

.badge-yellow {
  background: #ecb439;
}

.badge-purple {
  background: #8742e2;
}

.badge-sky {
  background: #65a2db;
}

.badge-black {
  background: #3b3b3b;
}

.form input {
  margin: 4px 3px;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  -webkit-box-shadow: 0 2px 5px #ccc;
          box-shadow: 0 2px 5px #ccc;
  border-radius: 5px;
}

.form .file-select {
  position: relative;
  display: inline-block;
  -webkit-box-shadow: 2px 2px 5px #ccc;
          box-shadow: 2px 2px 5px #ccc;
}

.form .file-select span {
  display: inline-block;
  background: #0d7be2;
  padding: 6px 1rem;
  color: #fff;
  border-radius: 5px;
}

.form .file-select span.blue {
  background: #0d7be2;
}

.form .file-select span.grey {
  background: #727272;
}

.form .file-select span.green {
  background: #139272;
}

.form .file-select span.teal {
  background: #0097a7;
}

.form .file-select span.red {
  background: #f44336;
}

.form .file-select span.yellow {
  background: #ecb439;
}

.form .file-select span.purple {
  background: #8742e2;
}

.form .file-select span.sky {
  background: #65a2db;
}

.form .file-select span.black {
  background: #3b3b3b;
}

.form .file-select input[type="file"] {
  cursor: pointer;
  all: unset;
  opacity: 0;
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.form .file-select input[type="file"]::-webkit-file-upload-button {
  cursor: pointer;
}

* {
  font-family: 'Rubik', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}
/*# sourceMappingURL=main.css.map */